html, body {
    font-family: Arial;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

button.vle {
     font-size: 15px;
     font-weight: normal;
     color: #000000;
     background: #ffffff;
     border: 1px solid #002158;
     border-radius: 3px;
     padding: 5px 8px;
 }

button.vle.previous, button.vle.next {
    color: #0b55a8;
}

button.vle.previous:before {
    font-size: 15px;
    font-family: Arial;
    content: '< ';
}

button.vle.next:after {
    font-size: 15px;
    font-family: Arial;
    content: ' >';
}

button.vle:active,
button.vle:focus,
button.vle:hover {
    color: #ffffff;
    background: #002158;
}

button.vle:disabled {
    border: 1px solid #d4d2d2;
    background: #f0f0f1;
}

a {
    text-decoration: none;
    font-size: .9em;
}

/*a:hover {
    text-decoration: underline;
}

a:focus {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}*/

.a_vle {
    font-size: 15px;
    font-weight: normal;
    color: #000000;
    background: #ffffff;
    border: 1px solid #002158;
    border-radius: 3px;
    padding: 5px 8px;
    text-decoration: none;
    margin: 5px 4px 5px 4px;
    word-break: break-all;
}

.a_vle:hover {
    color: #ffffff;
    background: #002158;
}

.a_vle:disabled {
    border: 1px solid #d4d2d2;
    background: #f0f0f1;
}