body {
    font-size: 13px;
    width: 1200px;
}
#s397_container {
    padding-top:15px;
    width: 1200px;
}

.accessibility_instructions {
    font-size:  12px;
    text-align: left;
    float: left;
    height: 35px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-left: 30px;
    width: 100%;
}

text {
    fill: #0f8372;
    font-weight: bold;
    font-size: 17px;
}

.usageMessage {
    background: #f0f0f1;
    padding: 10px;
    border-bottom: 1px solid #fff;
    font-size: 12px;
}

#first_row, #second_row, third_row {
    display: inline-block;

}

#forth_row {
    width: 1150px;
    overflow-y: auto;
    border-collapse: collapse;
}


#first_row div {
   float: left;
}

#second_row div {
    padding-top: 5px;
    float: left;
}

#third_row div {
    float: left;
}

.buttonControls {
    width: 100%;
    display: inline-block;

}
.buttonControls button {
    margin: 5px;
    margin-left: 19px;
    float: right;
}
.js-plotly-plot {
    margin-left: 100px;
}
#plot_container {
    width: 500px;
    float: left;
}


#plot_container_anomaly_data {
    width: 500px;

    float: left;
}

#controls_container {
    display:inline-block;
    height: 700px;
    width: 150px;
    padding-left: 15px;

}

#descriptionForSelect {
    alignment: left;
}

a {
    color: #00B7FF;
}

a {
    color: #00B7FF;
}

table tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 25px;
    margin: 0px;
    padding: 0px;
}
textarea {
    width: 400px;
    height: 100px;
}

button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

input {
    width: 55px;
    height: 20px;
    margin-left: 10px;
    font-size: 12px;
}

input[type=range] {
   /* width: 100%;*/
    margin: 5px 7px 7px 5px;
}

.param_type {
    display: inline-block;
    width: 50px;
    margin-top: 5px;
}
.param_measure {
    display: inline-block;
    padding-left: 5px;
    width: 80px;
}

.tabs_controls {
margin: 5px 4px 8px 4px;
}

.padding {
    width: 690px;
    box-shadow: 4px 4px 2px  2px #ccc;
    margin-left: 20px;
}

.smallerFont {
    font-style: italic;
    font-size: 11px;
}
#descriptionForSelect {
    font-size: 14px;
}

#typeOfData {
    margin-top: 12px;
    margin-right: 15px;
    width: 195px;
    padding-left: 2px;
    border-color: hsl(20, 96%, 38%);
    background: hsl(20, 96%, 80%);
}
#typeOfLineData {
    margin-top: 12px;
    margin-left: 123px;
    margin-bottom: 5px;
    padding-left: 2px;
    border-color: hsl(20, 96%, 38%);
    background: hsl(20, 96%, 80%);

}
#layerSpan {
    display: inline-block;
    margin-left: 3px;
    margin-right: 7px;
    min-width: 100px;
    max-width: 100px;
}
#layerSlider {
    margin-top: 10px;
    margin-right: 7px;
    min-width: 90px;
    max-width: 90px;
}

#ticks {
    padding-top: 10px;
}

.line_graphs_container {
   max-width: 500px;

}

#lineseries_div {
    /*margin-top: -100px;*/
}
#title {
    font: normal 150%/100% Helvetica, Verdana, Arial, sans-serif;
    margin-top: 5px;
    padding-left: 30px;
    padding-bottom: 5px;
}
.slider {
    width: 80px;
}

.column_divider {
    width: 30px;
}

#annual_averages_table {
    background-color: #ebf4fb;
    border: 2px solid #bfe2ef;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 90%;
    text-align: right;
    width: 1664px;
}
#seasonal_values_table {
    background-color: #ebf4fb;
    border-top: 2px solid #bfe2ef;
    border-bottom: 2px solid #bfe2ef;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 90%;
    text-align: right;
    width: 900px;
}

#annual_averages_table tr:nth-of-type(odd) {
    background: #eee;
}
#seasonal_values_table tr:nth-of-type(odd) {
    background: #eee;
}
#annual_averages_table th {
    font-weight: bold;
    text-align: center;
    padding: 6px;
    border:1px solid #ccc;
    width: 65px;
}
#seasonal_values_table th {
    font-weight: bold;
    text-align: center;
    padding: 6px;
    border:1px solid #ccc;
    width: 65px;
}
#annual_averages_table td {
    padding: 6px;
    width: 65px;
    border:1px solid #ccc;
}
#seasonal_values_table td {
    padding: 6px;
    width: 65px;
    border:1px solid #ccc;
}

#printable_values_table_1 {
    display: none;
}

#printable_values_table_2 {
    display: none;
}
.highcharts-plot-background {
    width: 407px;
}

/*#annual_averages_table tr {
    border: 1px solid #ccc;
}*/

.semi-header {
    text-align: right;
}

.beginning_of_line {
    text-align: left;
}

@media screen and (max-width: 800px) {
    #first_row, #second_row, #third_row, #forth_row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    td.edit-buttons, td.empty {
        /*flex: 1 0 90%;
        text-align: center;*/
    }
}

* { box-model: border-box;}