.tabs {
    width: inherit;
}

[role="tab"] {
    margin: 0 0 -4px 0;
    border-width: 1px  1px 0px 1px;
    border-color:  #002158;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    background: #fff;
}

[role="tab"][aria-selected="true"] {
    border-color: hsl(218, 96%, 38%);
    color: #fff;
    background: hsl(212, 96%, 38%);
    outline: 0;
}

[role="tab"]:hover,
[role="tab"]:focus {
    border-color: hsl(20, 96%, 38%);
    color: #000;
    background: hsl(20, 96%, 70%);
    outline: 0;
}

[role="tablist"] {
    padding-left: 3px;
}
[role="tabpanel"] {
    position: relative;
    z-index: 2;
    width: 660px;
    padding-top: 10px;
    padding-left: 7px;
    height: 160px;
    border: 2px solid #002158;
    border-radius: 3px;
}

[role="tabpanel"]:focus {
    border-color: hsl(20, 96%, 38%);
    outline: 0;
}

[role="tabpanel"] p {
    margin: 0;
}

[role="tabpanel"] * + p {
    margin-top: 20px;
}